#schoolpicker {
  margin:0 auto;
  text-align:center;
  width:100%;
}

#pickschool {
  font-size:1.5em;
  font-weight:bold;
}

#pickschool a:hover {
  color:magenta;
}

#pickschool .school {
  width:25%;
  float:left;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
  #pickschool .school {
  width:50%;
  }
}

@media only screen
  and (max-device-width: 359px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
    #pickschool .school {
      width:100%;
    }
}

/* web responsive */
@media only screen
  and (max-width: 750px) {
  	#pickschool .school {
 	 	width:50%;
  	}
}

/* web responsive */
@media only screen
  and (max-width: 480px) {
  	#pickschool .school {
 	 	width:100%;
  	}
}



#pickschool a img {
  border:10px solid white;
}

#pickschool a img:hover {
  border-color:magenta;
}

.form-type-item {
  display:none;
}

a.translation-link {
  font-size:18pt;
  font-weight:bold;
}

a.translation-link:hover {
  color:magenta;
}

.node-es-translate .translation-link, body.node-type-page .translation-link{
	display:none;
}

body.front .translation-link {
  display:block;
}


.field-name-field-translation .field-label {
  display:none;
}

.field-name-field-translation {
  margin-top:25px;
}

.node {
  text-align:center;
}

#centerimage {
  width:100%;
  margin:20px auto;
  text-align:center;
}

#centerimage img {
  width:90%!important;
}

body.page-admin .form-type-item {
  display:block;
}

ul.list-inline {
  display:none;
}

body.i18n-en ul.list-inline {
  display:block;
}

h1.page-header, h2.page-header {
  font-weight:bold;
  color:#41BEFB;
  font-size:42pt;
  margin:0 auto;
  text-align:center;
}


li.menu-pager-next,li.menu-pager-previous {
  width:100px;
  height:100px;
  list-style:none;
  list-style-type:none;
}

li.menu-pager-next a,li.menu-pager-previous a {
  outline:none;
  width:100px;
  height:100px;
  display:block;
  color:white!important;
  border-radius:50%;
  font-size:4px;
}

li.menu-pager-next a:hover,li.menu-pager-previous a:hover {
  border:2px solid blue;

}

li.menu-pager-next {
  background-image:url('/sites/default/files/images/nexts.png');
}

li.menu-pager-previous {
  background-image:url('/sites/default/files/images/previouss.png');
}

.field-name-body .field-item {
  font-size:18pt;
}


/* Menu Button Questions CSS */

/* Menu Link - Not Expanded */

#block-menu-pager-menu-questions .menu_button_trigger, #block-menu-button-menu-es-questions .menu_button_trigger{
  width:70px!important;
  float:left;
  margin:16px 10px;
  text-align:center;
  display:block;
  font-weight:bold;
  color:navy;
}

#block-menu-pager-menu-questions[data-state='collapsed'].menu_button_trigger, #block-menu-button-menu-es-questions[data-state='collapsed'].menu_button_trigger{
  display:block;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:20px;
}

#block-menu-pager-menu-questions[data-state='collapsed']:hover, #block-menu-button-menu-es-questions[data-state='collapsed']:hover {
  color:magenta;
}

/* Links in Expanded Menu */

#block-menu-button-menu-questions ul.links li a, #block-menu-button-menu-es-questions ul.links li a {
	color:white;
	display:block;
	font-weight:bold;
	width:50px;
	height: calc(20px + 1em);
	padding-top:7px;
	text-decoration:none;
}

#block-menu-button-menu-questions ul.links li a:link, #block-menu-button-menu-es-questions ul.links li a:link {
	background-color:#777;
	color:white;
}

#block-menu-button-menu-questions ul.links li a:visited, #block-menu-button-menu-es-questions ul.links li a:visited {
	background-color:green;
	color:black;
}

#block-menu-button-menu-questions ul.links li a:hover, #block-menu-button-menu-es-questions ul.links li a:hover {
	background-color:magenta;
}

#block-menu-button-menu-questions ul.links li a:active, #block-menu-button-menu-es-questions ul.links li a:active{
	background-color:yellow;

}

/* Appearance of Expanded Menus  */


#block-menu-button-menu-questions[data-state='expanded'] .menu_button_target ul.links, #block-menu-button-menu-es-questions[data-state='expanded'] .menu_button_target ul.links {
	clear:both;
	list-style:none;
	list-style-type:none;
}

#block-menu-button-menu-questions[data-state='expanded'] .menu_button_target ul.links li, #block-menu-button-menu-es-questions[data-state='expanded'] .menu_button_target ul.links li {
	float:left;
	width:60px;
	border:5px solid #F8F8F8;
	text-align:center;
}



/* web responsive */
@media only screen
  and (max-width: 750px) {
    #block-menu-button-menu-questions,#block-menu-button-menu-es-questions {
    padding-left:0px!important;
    margin-top:5px;
  }

  .menu_button__menu-questions,.menu_button__menu-es-questions {
    display:block;
    padding-left:-11px;
    padding-bottom:1em;
	text-align:left;
  }

  .menu_button__menu-questions[data-state='expanded'], .menu_button__menu-es-questions[data-state='expanded'] {
  text-align:center;
  }

  .field-name-body .field-item {
  font-size:12pt;
  }
}

/* device responsive */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  {
  #block-menu-button-menu-questions,#block-menu-button-menu-es-questions {
    padding-left:0px!important;
    margin-top:5px;
  }
  .menu_button__menu-questions,.menu_button__menu-es-questions {
    display:block;
    padding-left:-11px;
    padding-bottom:1em;
	text-align:left;
  }

  .menu_button__menu-questions[data-state='expanded'], .menu_button__menu-es-questions[data-state='expanded'] {
  text-align:center;
  }

  .field-name-body .field-item {
  font-size:11pt;
  }
}

/* Sidebar Styling */

body.sidebar-second .col-sm-3 {
  width:15%!important;
  text-align:right;
  font-weight:bold;
}


body.sidebar-second .col-sm-3 .nav li a {
  line-height:1em;
  padding:5px;
  margin-right:10px;
}

body.sidebar-second .col-sm-9 {width:85%!important;}

/* UC Block Styling */


#block-block-2 {
  background-color:yellow;
  color:black;
  text-align:center;
  border:3px dashed black;
  padding:10px;
  width:80%;
  margin:0 auto;
  margin-bottom:25px;
  font-weight:bold;
  font-size:12pt;
}

#block-block-2 h2 {
  padding-top:0px!important;
  margin-top:0px!important;
  color:red;
}

article p button {
  background: 2px 2px url('http://rpc.bsdvt.org/sites/default/files/images/start.png') white no-repeat;
  width:226px;
  height:102px;
}

article p button:hover {
  background-color:yellow;
}

article p button a {
  text-align:left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Footer Language Picker */

footer {
	display:none;
}

body.i18n footer, body.i18n-en footer{
  display:block;
  margin:20px auto;
  padding-top:10px;
}

body.il8n footer ul, body.il8n-en footer ul {
  margin-top:20px;
}

body.il8n footer a {
  padding-right:15px;
  border-right:1px solid #337AB7;
}

body.il8n footer li.last a {
  border-right:0px;
}

body.il8n footer {
	border:none;
}

body.i18n footer a. body.i18n-en footer a{
  padding-right:15px;
  border-right:1px solid #337AB7;
}

body.front #il8n-selected {
  display:block;
}


body.front.il8n #il8n-selected, body.front.i18n-en #il8n-selected {
  display:none!important;
}

body.front.il8n-ne  #block-block-2 {
  display:none;
}

body.front.il8n #block-block-2, body.front.il8n-en #block-block-2 {
  display:block;
}
